@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: black;
}
.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

/* Header */

.header {
  padding-top: 46px;
  background-color: #f1f1f1;
}
.header-nav {
  padding-bottom: 76px;
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  position: relative;
  padding: 0 12px 3px 0;
  font-size: 32px;
  font-weight: 700;
  color: black;
  /* line-height: 1; */
  line-height: 32px;
}

.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fda300;
  border-radius: 50%;
}

/* Nav */

.nav-list {
  display: flex;
  column-gap: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
}

.nav-link {
  color: #000;
}

.nav-link.active {
  color: #606060;
}

/* Header-content */

.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}

.heade-content {
  margin-top: 124px;
  max-width: 500px;
}

.header-heading {
  font-size: 44px;
  font-weight: 600;
  line-height: 66px;
  letter-spacing: 0em;
}

.heade-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}
.header-img {
}

/* Section servisec */

.services {
}

.servisec-row {
  display: flex;
  padding: 90px 0;
  /* margin: 0 215px; */
  column-gap: 30px;
}
.servisec-card {
}
.servisec-card-img {
  margin-bottom: 30px;
}
.servisec-card-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.servisec-card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

/* section portfolio */
.portfolio {
  padding: 90px 0;
  background-color: #f1f1f1;
  text-align: center;
}

.project-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}
.project-title a {
  color: #000;
  text-decoration: underline;
}
.title-1 {
  margin-bottom: 70px;
  font-size: 34px;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0em;
}
.project + .project {
  margin-top: 90px;
}
.project-img {
  margin-bottom: 40px;
}

/* section contacts */
